<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rathinchopra.assignmentreminder_chopra_islam">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".coursesPackage.CoursesActivity" />

        <activity android:name=".accountlogin.CreateAccountActivity"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".coursesPackage.AddingCoursesActivity"
            android:parentActivityName=".coursesPackage.CoursesActivity"/>

        <activity android:name=".assignmentspackage.AssignmentsActivity"
            android:parentActivityName=".coursesPackage.CoursesActivity"/>

        <activity android:name=".assignmentspackage.AddingAssignmentActivity"
            android:parentActivityName=".assignmentspackage.AssignmentsActivity"/>

        <activity android:name=".settings.SettingsActivity" />

        <service android:name=".notificationPackage.ScheduleService" />
        <service android:name=".notificationPackage.NotifyService" />

        <activity android:name=".slatelogin.SlateLoginActivity"
            android:parentActivityName=".coursesPackage.CoursesActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".slatelogin.SlateLoginForAssignment"
            android:parentActivityName=".assignmentspackage.AssignmentsActivity"
            android:screenOrientation="portrait"/>

    </application>
</manifest>